<!doctype html>
<html ng-app="myApp" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TrainTicket Admin</title>
    <meta name="description" content="This is the admin page of TrainTicket system">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="assets/css/admin.css">
    <link rel="stylesheet" href="assets/css/app.css">

    <link rel="stylesheet" href="assets/css/client.css">

    <script type="text/javascript" src="assets/js/vue.js"></script>

    <script type="text/javascript" src="assets/js/index.js" defer charset="utf-8"></script>
    <script type="text/javascript" src="assets/js/client_common.js" defer charset="utf-8"></script>
    <script type="text/javascript" src="assets/js/jquery.shCircleLoader-min.js" defer charset="utf-8"></script>

</head>

<body data-type="generalComponents">
<header class="am-topbar am-topbar-inverse admin-header">
    <div class="am-topbar-brand">
        <a href="javascript:;" class="tpl-logo">
            <img src="assets/img/logo.png" alt="">
        </a>
    </div>
    <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right">

    </div>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
            data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span
            class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">

            <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen"
                                           class="tpl-header-list-link"><span
                    class="am-icon-arrows-alt"></span> <span class="admin-fullText">FullScreen</span></a>
            </li>

            <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                    <span class="tpl-header-list-user-nick" id="client_name">Not Login</span><span
                        class="tpl-header-list-user-ico"> <img src="assets/img/user01.png"></span>
                </a>
            </li>
            <li id="logout_button">
                <a href="#" class="tpl-header-list-link">
                    <span class="am-icon-sign-out tpl-header-list-ico-out-size"></span>
                </a>
            </li>
        </ul>
    </div>
</header>

<div class="tpl-page-container tpl-page-header-fixed">
    <div class="tpl-left-nav tpl-left-nav-hover">
        <div class="tpl-left-nav-title">
            Management
        </div>
        <div class="tpl-left-nav-list">

            <ul class="tpl-left-nav-menu">
                <li class="tpl-left-nav-item">
                    <a href="index.html" class="nav-link">
                        <i class="am-icon-list-alt"></i>
                        <span>Ticket Reserve</span>
                        <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                    </a>
                </li>

                <li class="tpl-left-nav-item">
                    <a href="client_order_list.html" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-line-chart"></i>
                        <span>Order List</span>
                    </a>
                </li>

            </ul>


        </div>
    </div>

    <div class="tpl-content-wrapper" id="reserveApp">
        <div class="tpl-portlet-components">
            <div class="portlet-title">
                <div class="caption font-green bold">
                    Ticket Booking
                </div>

            </div>
            <div class="tpl-block">
                <div class="am-g">
                    <div class="am-u-sm-12">

                        <!----------------------Flow Preserve Select Ticket-------------->
                        <a name="anchor_flow_preserve_select_trip"></a>
                        <div class="flow_preserve panel panel-default">

                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Ticket Reserve
                                    <div id="my-svg"></div>
                                </h3>
                            </div>

                            <div class="input-box panel-body booking">
                                <form class="form-horizontal">

                                    <div class="form-group">
                                        <div id="search_panel">
                                            <ul>
                                                <li>Starting Place:<input id="travel_booking_startingPlace"
                                                                          class="form-control"
                                                                          name=''
                                                                          v-model="from"></li>
                                                <li>Terminal Place:<input id="travel_booking_terminalPlace"
                                                                          class="form-control"
                                                                          name=''
                                                                          v-model="to"></li>
                                                <li>Date:<input id="travel_booking_date" class="form-control"
                                                                type="date"
                                                                name=''
                                                                v-model="selectedDate" min="2017-07-21"></li>
                                                <li>Train Type:<select id="search_select_train_type"
                                                                       class="form-control"
                                                                       v-model="selectedTrainType"
                                                                       name="train_type">
                                                    <option v-for="item in trainTypes"
                                                            v-bind:value="item.value">{{item.text}}
                                                    </option>
                                                </select>
                                                </li>

                                                <li>
                                                    <button id="travel_searching_button" type="button"
                                                            class="btn btn-primary" v-on:click="searchTravel()">
                                                        Search
                                                    </button>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="panel-heading booking">
                                <h3 class="panel-title">
                                    Tickets Searching Result
                                </h3>
                            </div>
                            <div class="panel-body booking">
                                <table id="tickets_booking_list_table" class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Trip Id</th>
                                        <th>Train Type Id</th>
                                        <th>From</th>
                                        <th>To</th>
                                        <th>Starting Time</th>
                                        <th>End Time</th>
                                        <th>2rd Class Seat Number</th>
                                        <th>1st Class Seat Number</th>
                                        <th>Select Seat</th>
                                        <th>Operation</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!--This is an empty table body-->


                                    <tr v-for="(item, index) in travelList">
                                        <td> {{index}}</td>
                                        <td class='booking_tripId'>{{item.tripId.type}}{{item.tripId.number}}</td>
                                        <td class='booking_trainTypeId'> {{item.trainTypeId}}</td>
                                        <td class='booking_from'> {{item.startingStation}}</td>
                                        <td class='booking_to'>{{item.terminalStation}}</td>
                                        <td>{{item.startingTime}}</td>
                                        <td>{{item.endTime}}</td>
                                        <td>{{item.economyClass}}</td>
                                        <td>{{item.confortClass}}</td>

                                        <td>
                                            <select class='form-control booking_seat_class'
                                                    v-model="selectedSeats[index]" style="min-width: 120px;">
                                                <option value="2"> 1st - {{item.priceForConfortClass}}</option>
                                                <option value="3"> 2st - {{item.priceForEconomyClass}}</option>
                                            </select>
                                        </td>

                                        <td>
                                            <button class='btn btn-primary ticket_booking_button'
                                                    v-on:click="preserverBooking(index,item.tripId.type,item.tripId.number,item.startingStation,item.terminalStation)">
                                                Booking
                                            </button>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>

                                <!--Prompt login Confirm-->
                                <div class="am-modal am-modal-prompt" tabindex="-1" id="my-prompt">
                                    <div class="am-modal-dialog">
                                        <div class="am-modal-hd">Login</div>
                                        <div class="am-g">
                                            <div class="am-form-group am-u-sm-5">
                                                <label>UserName:</label>
                                            </div>
                                            <div class="am-form-group am-u-sm-7">
                                                <input type="text" id="user-login-email"
                                                       class="am-form-field am-modal-prompt-input"
                                                       placeholder="User Name">
                                            </div>
                                        </div>
                                        <div class="am-g">
                                            <div class="am-form-group am-u-sm-5">
                                                <label>PassWord:</label>
                                            </div>
                                            <div class="am-form-group am-u-sm-7">
                                                <input type="text" id="user-login-password"
                                                       class="am-form-field am-modal-prompt-input"
                                                       placeholder="PassWord" v-model="password">
                                            </div>
                                        </div>
                                        <div class="am-g">
                                            <div class="am-form-group am-u-sm-5">
                                                <label>Verifycode:</label>
                                            </div>
                                            <div class="am-form-group am-u-sm-7">
                                                <input type="text" id="user-login-verifycode"
                                                       class="am-form-field am-modal-prompt-input"
                                                       placeholder="Verify Code" v-model="verifyCode">
                                            </div>
                                        </div>
                                        <div>
                                            <div class="am-form-group am-u-sm-5">
                                                <label></label>
                                            </div>
                                            <div class="am-form-group am-u-sm-7">
                                                <img id="flow_preserve_login_verification_code_img"
                                                     class="captcha_img" src="/api/v1/verifycode/generate">
                                            </div>
                                        </div>

                                        <br/>

                                        <div class="am-modal-footer">
                                            <span class="am-modal-btn" data-am-modal-cancel>Cancel</span>
                                            <span class="am-modal-btn" data-am-modal-confirm
                                                  v-on:click="login()">Submit</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tpl-alert"></div>
        </div>
    </div>
</div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/app.js"></script>


</body>
</html>